@(userForgotPasswordForm: Form[UserForgotPasswordData])(implicit messages: Messages,flash: Flash)
@import helper._

@main("Play"){
<h1><center>Update Password</center></h1>
<h4 style="color: Red;"><center>@flash.get("error")</center></h4>

@if(userForgotPasswordForm.hasGlobalErrors) {
<center><ul>
    @for(error <- userForgotPasswordForm.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul></center>
}
<center>
    @helper.form(action = routes.PasswordUpdateController.updatePassword()){
    @helper.inputText(userForgotPasswordForm("email"),
    '_label -> "Email",
    '_showConstraints -> false)

    @helper.inputPassword(userForgotPasswordForm("newPassword"),
    '_label -> "New Password",
    '_showConstraints -> false)

    @helper.inputPassword(userForgotPasswordForm("confirmPassword"),
    '_label -> "Confirm Password",
    '_showConstraints -> false)

    <button name="Submit">Submit</button>
    }
</center>
}