@(title: String, userLoginForm: Form[UserLoginData])(implicit messages: Messages,flash: Flash)
@import helper._

@main(title){
<h1><center>Log In</center></h1>
<h4><center>@flash.get("error")</center></h4>

@if(userLoginForm.hasGlobalErrors) {
<center><ul>
    @for(error <- userLoginForm.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul></center>
}
<center>
@helper.form(action = routes.AuthenticationController.createLoginPost()){
@helper.inputText(userLoginForm("email"),
'_label -> "Email",
'_showConstraints -> false)

@helper.inputPassword(userLoginForm("password"),
'_label -> "Password",
'_showConstraints -> false)

<button name="login">LogIn</button>
}
</center>
}