@(title: String, userForm: Form[UserData], hobbies: List[HobbiesModel])(implicit messages: Messages)
@import helper._

@main(title){
<h1>Sign Up Form</h1>

@if(userForm.hasGlobalErrors) {
<ul>
    @for(error <- userForm.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}

@helper.form(action = routes.AuthenticationController.createUserPost()){
@helper.inputText(userForm("firstName"),
'_label -> "First Name",
'_showConstraints -> false)

@helper.inputText(userForm("middleName"),
'_label -> "Middle Name",
'_showConstraints -> false)

@helper.inputText(userForm("lastName"),
'_label -> "Last Name",
'_showConstraints -> false)

@helper.inputText(userForm("age"),
'_label -> "Age",
'_showConstraints -> false)

@helper.select(userForm("gender"), Seq("female"->"Female", "male"->"Male"),
'_label -> "Gender",
'_showConstraints -> false)

@helper.inputText(userForm("mobileNumber"),
'_label -> "Mobile Number",
'_showConstraints -> false)

@inputCheckboxGroup(userForm("hobbies"),
options = hobbies.map(e => e.hobbyId.toString->e.hobby),
'_label -> "Hobbies")

@helper.inputText(userForm("email"),
'_label -> "Email",
'_showConstraints -> false)

@helper.inputPassword(userForm("password"),
'_label -> "Password",
'_showConstraints -> false)

@helper.inputPassword(userForm("confirmPassword"),
'_label -> "Confirm Password",
'_showConstraints -> false)

<button value="submit">Submit</button>

}
}