@(userForm: Form[UserProfile])(implicit messages: Messages, flash: Flash)
@import helper._

@main("Play"){
<center>
<h1>Profile</h1>
<h2>@flash.get("success")</h2>

@if(userForm.hasGlobalErrors) {
<ul>
    @for(error <- userForm.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}

@helper.form(action = routes.ProfileController.updateProfile()){
@helper.inputText(userForm("firstName"),
'_label -> "First Name",
'_showConstraints -> false)

@helper.inputText(userForm("middleName"),
'_label -> "Middle Name",
'_showConstraints -> false)

@helper.inputText(userForm("lastName"),
'_label -> "Last Name",
'_showConstraints -> false)

@helper.inputText(userForm("age"),
'_label -> "Age",
'_showConstraints -> false)

@helper.select(userForm("gender"), Seq("female"->"Female", "male"->"Male"),
'_label -> "Gender",
'_showConstraints -> false)

@helper.inputText(userForm("mobileNumber"),
'_label -> "Mobile Number",
'_showConstraints -> false)

@helper.inputText(userForm("email"),
'_label -> "Email",
'_showConstraints -> false)

<button value="update">Update</button>

}
</center>
}