@(userForm: Form[UserProfile], hobbiesList: List[HobbiesModel], isAdmin: Boolean)(implicit messages: Messages, flash: Flash)
@import helper._

@main("Play"){
@navbarFile(isAdmin, "profile")

<center>
    <h1>Profile</h1>
    <h4>@flash.get("success")</h4>
    <h4>@flash.get("error")</h4>

    @if(userForm.hasGlobalErrors) {
    <ul>
        @for(error <- userForm.globalErrors) {
        <li>@Messages(error.messages, error.args)</li>
        }
    </ul>
    }

    @helper.form(action = routes.ProfileController.updateProfile()){
    @helper.inputText(userForm("firstName"),
    '_label -> "First Name",
    '_showConstraints -> false)

    @helper.inputText(userForm("middleName"),
    '_label -> "Middle Name",
    '_showConstraints -> false)

    @helper.inputText(userForm("lastName"),
    '_label -> "Last Name",
    '_showConstraints -> false)

    @helper.inputText(userForm("age"),
    '_label -> "Age",
    '_showConstraints -> false)

    @helper.select(userForm("gender"), Seq("female"->"Female", "male"->"Male"),
    '_label -> "Gender",
    '_showConstraints -> false)

    @helper.inputText(userForm("mobileNumber"),
    '_label -> "Mobile Number",
    '_showConstraints -> false)

    @inputCheckboxGroup(userForm("hobbies"),
    options = hobbiesList.map(e => e.hobbyId.toString->e.hobby),
    '_label -> "Hobbies",
    '_error -> userForm("hobbies").error.map(_.withMessage("select one or more hobbies")))

    <button value="update">Update</button>

    }
</center>
}